.blue-button,.yellow-button{

    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.blue-button{
    margin-right: 10px;
}

.row1{
    margin-bottom: 20px;
}

